<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RosticeriaCardelV2.Properties.Settings.GetConnection"
            connectionString="SERVER=DELL\\CANDE;DATABASE=RosticeriaCardelV2;Integrated Security=True;TrustServerCertificate=True;" />
    </connectionStrings>
</configuration>